
<footer class="uk-width-1-1 uk-text-center uk-clearfix shade3">
	<div class="uk-panel uk-panel-space uk-margin-large-top" itemscope itemtype="http://schema.org/Organization" data-margin>
		<a href="#" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Twitter</span><i class="uk-icon-twitter uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="#" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Dribbble</span><i class="uk-icon-dribbble uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="#" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Facebook</span><i class="uk-icon-facebook uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="#" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Pinterest</span><i class="uk-icon-pinterest uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="#" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">LinkedIn</span><i class="uk-icon-linkedin uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="#" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Flickr</span><i class="uk-icon-flickr uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="#" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Github</span><i class="uk-icon-github uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="#" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Reddit</span><i class="uk-icon-reddit uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="#" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Stumbleupon</span><i class="uk-icon-stumbleupon uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="#" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Tumblr</span><i class="uk-icon-tumblr uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="#" title="" target="_blank" rel="nofollow" class="uk-animation-hover" itemprop="sameAs"><span class="uk-hidden">Youtube</span><i class="uk-icon-youtube-play uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>

	</div>  

<div class="uk-panel uk-margin-space uk-margin-large uk-text-small uk-text-muted">
	<div class="uk-clearfix">&copy; {{date format="YYYY"}} - {{@blog.title}}</div>
	<div class="uk-clearfix uk-margin-small"><a href="http://haeckdesign.com/" title="Haeck Design | Raleigh, NC" target="_blank" class="uk-text-muted">Haeck Design</a> &amp; <a href="https://ghost.org/" title="Ghost | Ghost.org" target="_blank" class="uk-text-muted">Ghost</a></div>
	<div class="uk-clearfix"><a href="/sitemap.xml" title="Sitemap" target="_blank" class="uk-text-muted">Sitemap</a></div>
</div>

	<a class="uk-panel uk-margin-large uk-text-center uk-text-muted uk-animation-hover" title="Top" data-uk-smooth-scroll href="#"><i class="uk-icon-caret-up uk-icon-large uk-animation-reverse uk-animation-scale"></i></a>
</footer>
